body {
    color: white;
    background-color: black;
    font-family:Arial, Helvetica, sans-serif ;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
header img {
    border-radius: 50%;
    border: 5px solid green;
}

.classs {
    text-align: center;
}

h1{
    color: green;
}

footer img {
    width: 50px;
    height: 50px;

}

footer {
    display: flex;
    justify-content: center;
}